<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head/head') %>
  <body>
    <%- include('partials/nav/nav') %>
    <h1>404</h1>
    <h2>You nunce</h2>
    <h2>You've done something wrong</h2>
    <%- include('partials/script/script') %>
  </body>
</html>
