<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head/head') %>
  <body>
    <%- include('partials/nav/nav') %>
    <h1>Nashville Council Watch</h1>
    <h2>1246 Gallatin Pike</h2>
    <p>Nashville, TN  37211</p>
    <p>615.737.1030</p>
    <%- include('partials/script/script') %>
  </body>
</html>
