a{text-decoration: none;}
.under-nav{padding: 2em;}
/* .dropdown-menu {position: absolute !important;} */





/* html{
  width: 100%;
  background-image: url("");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;}

body{
  font-family: verdana;
  color: #fff;
  padding: 30px;}

h1{
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: black;}

h2{
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  color: black;}

h3{
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  color: black;}

form{text-align: center;}

.tasting{
  text-align: left;}

p{
  font-size: 16px;
  text-align: center;
  color: black;}

img{
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;} */
